SystemManagament.Client.WPF/Connected Services/WorkstationMonitorServiceReference/WorkstationMonitorService14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareStatic.Model.Components.Duplicate" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareStatic.Model.Components.Duplicate" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/WorkstationMonitorService?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfClaimDuplicate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClaimDuplicate" nillable="true" type="tns:ClaimDuplicate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClaimDuplicate" nillable="true" type="tns:ArrayOfClaimDuplicate" />
  <xs:complexType name="ClaimDuplicate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Issuer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalIssuer" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Properties" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimDuplicate" nillable="true" type="tns:ClaimDuplicate" />
  <xs:complexType name="ArrayOfGroupDuplicate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupDuplicate" nillable="true" type="tns:GroupDuplicate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupDuplicate" nillable="true" type="tns:ArrayOfGroupDuplicate" />
  <xs:complexType name="GroupDuplicate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupDuplicate" nillable="true" type="tns:GroupDuplicate" />
</xs:schema>