SystemManagament.Client.WPF/Connected Services/WorkstationMonitorServiceReference/WorkstationMonitorService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareStatic.Model.Components" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareStatic.Model.Components" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/WorkstationMonitorService?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareStatic.Model.Components.Duplicate" />
  <xs:import schemaLocation="http://localhost:8000/WorkstationMonitorService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" />
  <xs:complexType name="ArrayOfBios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bios" nillable="true" type="tns:Bios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBios" nillable="true" type="tns:ArrayOfBios" />
  <xs:complexType name="Bios">
    <xs:sequence>
      <xs:element minOccurs="0" name="BIOSVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmbeddedControllerMajorVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmbeddedControllerMinorVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReleaseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SMBIOSBIOSVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMBIOSMajorVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMBIOSMinorVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMBIOSPresent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemBiosMajorVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemBiosMinorVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bios" nillable="true" type="tns:Bios" />
  <xs:complexType name="ArrayOfCurrentUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CurrentUser" nillable="true" type="tns:CurrentUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurrentUser" nillable="true" type="tns:ArrayOfCurrentUser" />
  <xs:complexType name="CurrentUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticationType" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareStatic.Model.Components.Duplicate" minOccurs="0" name="Claims" nillable="true" type="q1:ArrayOfClaimDuplicate" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareStatic.Model.Components.Duplicate" minOccurs="0" name="Groups" nillable="true" type="q2:ArrayOfGroupDuplicate" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrentUser" nillable="true" type="tns:CurrentUser" />
  <xs:complexType name="ArrayOfInstalledProgram">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InstalledProgram" nillable="true" type="tns:InstalledProgram" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstalledProgram" nillable="true" type="tns:ArrayOfInstalledProgram" />
  <xs:complexType name="InstalledProgram">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstallDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InstallLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstalledProgram" nillable="true" type="tns:InstalledProgram" />
  <xs:complexType name="ArrayOfLocalUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalUser" nillable="true" type="tns:LocalUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocalUser" nillable="true" type="tns:ArrayOfLocalUser" />
  <xs:complexType name="LocalUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descritption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordChangeable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordExpires" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordRequired" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SIDType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalUser" nillable="true" type="tns:LocalUser" />
  <xs:complexType name="ArrayOfMicrosoftWindowsUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MicrosoftWindowsUpdate" nillable="true" type="tns:MicrosoftWindowsUpdate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMicrosoftWindowsUpdate" nillable="true" type="tns:ArrayOfMicrosoftWindowsUpdate" />
  <xs:complexType name="MicrosoftWindowsUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="CSName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FixComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotFixID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InstalledBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstalledOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicePackInEffect" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MicrosoftWindowsUpdate" nillable="true" type="tns:MicrosoftWindowsUpdate" />
  <xs:complexType name="ArrayOfOS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OS" nillable="true" type="tns:OS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOS" nillable="true" type="tns:ArrayOfOS" />
  <xs:complexType name="OS">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CDSVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CSName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" minOccurs="0" name="CurrentTimeZone" type="q3:UnitValue" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" minOccurs="0" name="EncryptionLevel" type="q4:UnitValue" />
      <xs:element minOccurs="0" name="InstallDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastBootUpTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LocalDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Locale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxNumerOfProcesses" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" minOccurs="0" name="MaxProcessMemorySize" type="q5:UnitValue" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OSArchitecture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisteredUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicePackMajorVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicePackMinorVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemDirectory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemDrive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WindowsDirectory" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OS" nillable="true" type="tns:OS" />
  <xs:complexType name="ArrayOfStartupCommand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StartupCommand" nillable="true" type="tns:StartupCommand" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStartupCommand" nillable="true" type="tns:ArrayOfStartupCommand" />
  <xs:complexType name="StartupCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Command" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SettingID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserSID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StartupCommand" nillable="true" type="tns:StartupCommand" />
</xs:schema>