SystemManagament.Client.WPF/Connected Services/WorkstationMonitorServiceReference/WorkstationMonitorService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/WorkstationMonitorService?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model.Components" />
  <xs:complexType name="HardwareDynamicData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model.Components" minOccurs="0" name="Disk" nillable="true" type="q1:ArrayOfDiskDynamic" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model.Components" minOccurs="0" name="MainBoard" nillable="true" type="q2:ArrayOfMainBoardDynamic" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model.Components" minOccurs="0" name="Memory" nillable="true" type="q3:ArrayOfMemoryDynamic" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model.Components" minOccurs="0" name="Processor" nillable="true" type="q4:ArrayOfProcessorDynamic" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model.Components" minOccurs="0" name="VideoController" nillable="true" type="q5:ArrayOfVideoControllerDynamic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HardwareDynamicData" nillable="true" type="tns:HardwareDynamicData" />
</xs:schema>