SystemManagament.Client.WPF/Connected Services/WorkstationMonitorServiceReference/WorkstationMonitorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/WorkstationMonitorService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8000/WorkstationMonitorService?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties.Enums" />
  <xs:complexType name="UnitValue">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnitValue" nillable="true" type="tns:UnitValue" />
  <xs:complexType name="SmartDataAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Current" type="xs:int" />
      <xs:element minOccurs="0" name="IsCriticalAttribute" type="xs:boolean" />
      <xs:element minOccurs="0" name="Raw" type="xs:int" />
      <xs:element minOccurs="0" name="RawIdeal" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties.Enums" minOccurs="0" name="Status" type="q1:SmartDataAttributeStatusEnum" />
      <xs:element minOccurs="0" name="Threshold" type="xs:int" />
      <xs:element minOccurs="0" name="Worst" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SmartDataAttribute" nillable="true" type="tns:SmartDataAttribute" />
</xs:schema>