SystemManagament.Client.WPF/Connected Services/WorkstationMonitorServiceReference/WorkstationMonitorService15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.Components.Analyzed" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.Components.Analyzed" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/WorkstationMonitorService?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8000/WorkstationMonitorService?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.Components" />
  <xs:import schemaLocation="http://localhost:8000/WorkstationMonitorService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" />
  <xs:complexType name="ArrayOfSMARTData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMARTData" nillable="true" type="tns:SMARTData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMARTData" nillable="true" type="tns:ArrayOfSMARTData" />
  <xs:complexType name="SMARTData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Attributes" nillable="true" type="q1:ArrayOfKeyValueOfintSmartDataAttribute7SjUEQsj" />
      <xs:element minOccurs="0" name="InstanceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PredictFailure" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMARTData" nillable="true" type="tns:SMARTData" />
  <xs:complexType name="ArrayOfStorage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Storage" nillable="true" type="tns:Storage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStorage" nillable="true" type="tns:ArrayOfStorage" />
  <xs:complexType name="Storage">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.Components" minOccurs="0" name="Disk" nillable="true" type="q2:Disk" />
      <xs:element minOccurs="0" name="Partition" nillable="true" type="tns:ArrayOfLogicalPartition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Storage" nillable="true" type="tns:Storage" />
  <xs:complexType name="ArrayOfLogicalPartition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogicalPartition" nillable="true" type="tns:LogicalPartition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogicalPartition" nillable="true" type="tns:ArrayOfLogicalPartition" />
  <xs:complexType name="LogicalPartition">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiskId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiskNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriveLetter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsBoot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHidden" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOffline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReadOnly" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsShadowCopy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MbrType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoDefaultDriveLetter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectIdAsPartition" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" minOccurs="0" name="Offset" type="q3:UnitValue" />
      <xs:element minOccurs="0" name="PartitionNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Partitions" nillable="true" type="tns:ArrayOfLogicalPartition" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" minOccurs="0" name="SizeAsPartition" type="q4:UnitValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogicalPartition" nillable="true" type="tns:LogicalPartition" />
  <xs:complexType name="Partition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LogicalPartition">
        <xs:sequence>
          <xs:element minOccurs="0" name="DedupMode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DriveType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileSystem" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FileSystemLabel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HealthStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ObjectIdAsVolume" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" minOccurs="0" name="SizeAsVolume" type="q5:UnitValue" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" minOccurs="0" name="SizeRemaining" type="q6:UnitValue" />
          <xs:element minOccurs="0" name="UniqueId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Partition" nillable="true" type="tns:Partition" />
</xs:schema>