SystemManagament.Client.WPF/Connected Services/WorkstationMonitorServiceReference/WorkstationMonitorService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model.Components" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model.Components" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/WorkstationMonitorService?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model.Components.Abstract" />
  <xs:complexType name="ArrayOfDiskDynamic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DiskDynamic" nillable="true" type="tns:DiskDynamic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiskDynamic" nillable="true" type="tns:ArrayOfDiskDynamic" />
  <xs:complexType name="DiskDynamic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model.Components.Abstract" base="q1:HardwareDynamicComponent">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DiskDynamic" nillable="true" type="tns:DiskDynamic" />
  <xs:complexType name="ArrayOfMainBoardDynamic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MainBoardDynamic" nillable="true" type="tns:MainBoardDynamic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMainBoardDynamic" nillable="true" type="tns:ArrayOfMainBoardDynamic" />
  <xs:complexType name="MainBoardDynamic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model.Components.Abstract" base="q2:HardwareDynamicComponent">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MainBoardDynamic" nillable="true" type="tns:MainBoardDynamic" />
  <xs:complexType name="ArrayOfMemoryDynamic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemoryDynamic" nillable="true" type="tns:MemoryDynamic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemoryDynamic" nillable="true" type="tns:ArrayOfMemoryDynamic" />
  <xs:complexType name="MemoryDynamic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model.Components.Abstract" base="q3:HardwareDynamicComponent">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MemoryDynamic" nillable="true" type="tns:MemoryDynamic" />
  <xs:complexType name="ArrayOfProcessorDynamic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessorDynamic" nillable="true" type="tns:ProcessorDynamic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessorDynamic" nillable="true" type="tns:ArrayOfProcessorDynamic" />
  <xs:complexType name="ProcessorDynamic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model.Components.Abstract" base="q4:HardwareDynamicComponent">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProcessorDynamic" nillable="true" type="tns:ProcessorDynamic" />
  <xs:complexType name="ArrayOfVideoControllerDynamic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VideoControllerDynamic" nillable="true" type="tns:VideoControllerDynamic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVideoControllerDynamic" nillable="true" type="tns:ArrayOfVideoControllerDynamic" />
  <xs:complexType name="VideoControllerDynamic">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model.Components.Abstract" base="q5:HardwareDynamicComponent">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VideoControllerDynamic" nillable="true" type="tns:VideoControllerDynamic" />
</xs:schema>