SystemManagament.Client.WPF/Connected Services/WorkstationMonitorServiceReference/WorkstationMonitorService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareDynamic.Model.Components" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareDynamic.Model.Components" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWindowsLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WindowsLog" nillable="true" type="tns:WindowsLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWindowsLog" nillable="true" type="tns:ArrayOfWindowsLog" />
  <xs:complexType name="WindowsLog">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="WindowsLog" nillable="true" type="tns:WindowsLog" />
  <xs:complexType name="ArrayOfWindowsProcess">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WindowsProcess" nillable="true" type="tns:WindowsProcess" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWindowsProcess" nillable="true" type="tns:ArrayOfWindowsProcess" />
  <xs:complexType name="WindowsProcess">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="WindowsProcess" nillable="true" type="tns:WindowsProcess" />
  <xs:complexType name="ArrayOfWindowsService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WindowsService" nillable="true" type="tns:WindowsService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWindowsService" nillable="true" type="tns:ArrayOfWindowsService" />
  <xs:complexType name="WindowsService">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanPauseAndContinue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanShutdown" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanStop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WindowsService" nillable="true" type="tns:WindowsService" />
</xs:schema>