SystemManagament.Client.WPF/Connected Services/WorkstationMonitorServiceReference/WorkstationMonitorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/WorkstationMonitorService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareDynamic.Model" />
  <xs:import schemaLocation="http://localhost:8000/WorkstationMonitorService?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareStatic.Model" />
  <xs:import schemaLocation="http://localhost:8000/WorkstationMonitorService?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model" />
  <xs:import schemaLocation="http://localhost:8000/WorkstationMonitorService?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model" />
  <xs:element name="ReadSoftwareDynamicData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSoftwareDynamicDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareDynamic.Model" minOccurs="0" name="ReadSoftwareDynamicDataResult" nillable="true" type="q1:SoftwareDynamicData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSoftwareStaticData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSoftwareStaticDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareStatic.Model" minOccurs="0" name="ReadSoftwareStaticDataResult" nillable="true" type="q2:SoftwareStaticData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadHardwareDynamicData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadHardwareDynamicDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model" minOccurs="0" name="ReadHardwareDynamicDataResult" nillable="true" type="q3:HardwareDynamicData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadHardwareStaticData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadHardwareStaticDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model" minOccurs="0" name="ReadHardwareStaticDataResult" nillable="true" type="q4:HardwareStaticData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>