SystemManagament.Client.WPF/Connected Services/WorkstationMonitorService/SystemManagament.Monitor.SoftwareDynamic.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareDynamic.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareDynamic.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareDynamic.Model.Components" />
  <xs:complexType name="SoftwareDynamicData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareDynamic.Model.Components" minOccurs="0" name="WindowsLog" nillable="true" type="q1:ArrayOfWindowsLog" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareDynamic.Model.Components" minOccurs="0" name="WindowsProcess" nillable="true" type="q2:ArrayOfWindowsProcess" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareDynamic.Model.Components" minOccurs="0" name="WindowsService" nillable="true" type="q3:ArrayOfWindowsService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoftwareDynamicData" nillable="true" type="tns:SoftwareDynamicData" />
</xs:schema>