SystemManagament.Client.WPF/Connected Services/WorkstationMonitorService/SystemManagament.Monitor.HardwareStatic.Model.Components.Analyzed.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.Components.Analyzed" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.Components.Analyzed" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.Components" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" />
  <xs:complexType name="ArrayOfSMARTData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SMARTData" nillable="true" type="tns:SMARTData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSMARTData" nillable="true" type="tns:ArrayOfSMARTData" />
  <xs:complexType name="SMARTData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Attributes" nillable="true" type="q1:ArrayOfKeyValueOfintSmartDataAttribute7SjUEQsj" />
      <xs:element minOccurs="0" name="InstanceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PredictFailure" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMARTData" nillable="true" type="tns:SMARTData" />
  <xs:complexType name="ArrayOfStorage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Storage" nillable="true" type="tns:Storage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStorage" nillable="true" type="tns:ArrayOfStorage" />
  <xs:complexType name="Storage">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.Components" minOccurs="0" name="Disk" nillable="true" type="q2:Disk" />
      <xs:element minOccurs="0" name="ExtendedPartition" nillable="true" type="tns:ArrayOfPartition" />
      <xs:element minOccurs="0" name="Partition" nillable="true" type="tns:ArrayOfPartition" />
      <xs:element minOccurs="0" name="SMARTData" nillable="true" type="tns:SMARTData" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.Components" minOccurs="0" name="Volume" nillable="true" type="q3:ArrayOfVolume" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Storage" nillable="true" type="tns:Storage" />
  <xs:complexType name="ArrayOfPartition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Partition" nillable="true" type="tns:Partition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartition" nillable="true" type="tns:ArrayOfPartition" />
  <xs:complexType name="Partition">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiskId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiskNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriveLetter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GptType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsBoot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHidden" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOffline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReadOnly" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsShadowCopy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MbrType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoDefaultDriveLetter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectIdAsPartition" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" minOccurs="0" name="Offset" type="q4:UnitULongValue" />
      <xs:element minOccurs="0" name="PartitionNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Partitions" nillable="true" type="tns:ArrayOfPartition" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" minOccurs="0" name="SizeAsPartition" type="q5:UnitULongValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Partition" nillable="true" type="tns:Partition" />
</xs:schema>