SystemManagament.Client.WPF/Connected Services/WorkstationMonitorService/SystemManagament.Monitor.HardwareDynamic.Model.CustomProperties.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model.CustomProperties" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareDynamic.Model.CustomProperties" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSensor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sensor" nillable="true" type="tns:Sensor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensor" nillable="true" type="tns:ArrayOfSensor" />
  <xs:complexType name="Sensor">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SensorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SensorType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sensor" nillable="true" type="tns:Sensor" />
</xs:schema>