SystemManagament.Client.WPF/Connected Services/WorkstationMonitorService/WorkstationMonitorService15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareDynamic.Model.Components" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareDynamic.Model.Components" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/WorkstationMonitorService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" />
  <xs:import schemaLocation="http://localhost:8000/WorkstationMonitorService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareDynamic.Model.Components.Duplicate" />
  <xs:import schemaLocation="http://localhost:8000/WorkstationMonitorService?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8000/WorkstationMonitorService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfWindowsLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WindowsLog" nillable="true" type="tns:WindowsLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWindowsLog" nillable="true" type="tns:ArrayOfWindowsLog" />
  <xs:complexType name="WindowsLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="Entries" nillable="true" type="tns:ArrayOfEventLogEntryDuplicate" />
      <xs:element minOccurs="0" name="LogDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" minOccurs="0" name="MaximumKilobytes" type="q1:UnitLongValue" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" minOccurs="0" name="MinimumRetentionDays" type="q2:UnitIntValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WindowsLog" nillable="true" type="tns:WindowsLog" />
  <xs:complexType name="ArrayOfEventLogEntryDuplicate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventLogEntryDuplicate" nillable="true" type="tns:EventLogEntryDuplicate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventLogEntryDuplicate" nillable="true" type="tns:ArrayOfEventLogEntryDuplicate" />
  <xs:complexType name="EventLogEntryDuplicate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryNumber" type="xs:short" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.SoftwareDynamic.Model.Components.Duplicate" minOccurs="0" name="EntryType" type="q3:EventLogEntryTypeDuplicate" />
      <xs:element minOccurs="0" name="Index" type="xs:int" />
      <xs:element minOccurs="0" name="InstanceId" type="xs:long" />
      <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ReplacementStrings" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeGenerated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeWritten" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventLogEntryDuplicate" nillable="true" type="tns:EventLogEntryDuplicate" />
  <xs:complexType name="ArrayOfWindowsProcess">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WindowsProcess" nillable="true" type="tns:WindowsProcess" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWindowsProcess" nillable="true" type="tns:ArrayOfWindowsProcess" />
  <xs:complexType name="WindowsProcess">
    <xs:sequence>
      <xs:element minOccurs="0" name="BasePriority" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" minOccurs="0" name="MemorySize" type="q5:UnitLongValue" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" minOccurs="0" name="NonPagedMemorySize" type="q6:UnitLongValue" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" minOccurs="0" name="PagedMemorySize" type="q7:UnitLongValue" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" minOccurs="0" name="PeakMemorySize" type="q8:UnitLongValue" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" minOccurs="0" name="PeakPagedMemorySize" type="q9:UnitLongValue" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" minOccurs="0" name="PeakVirtualMemorySize" type="q10:UnitLongValue" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalProcessorTime" type="ser:duration" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SystemManagament.Monitor.HardwareStatic.Model.CustomProperties" minOccurs="0" name="VirtualMemorySize" type="q11:UnitLongValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WindowsProcess" nillable="true" type="tns:WindowsProcess" />
  <xs:complexType name="ArrayOfWindowsService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WindowsService" nillable="true" type="tns:WindowsService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWindowsService" nillable="true" type="tns:ArrayOfWindowsService" />
  <xs:complexType name="WindowsService">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanPauseAndContinue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanShutdown" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanStop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WindowsService" nillable="true" type="tns:WindowsService" />
</xs:schema>